<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849662432906-vnk3pc2vhagndn9rk6qkpv1knccao2t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849662432906-vnk3pc2vhagndn9rk6qkpv1knccao2t5</string>
	<key>API_KEY</key>
	<string>AIzaSyC2e_W-NtvEjqT9iMDB-0G8jbZXLAMy6Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>849662432906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.initialApp</string>
	<key>PROJECT_ID</key>
	<string>undigitally-d1bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>undigitally-d1bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849662432906:ios:a1e578db6d230efe06ff73</string>
</dict>
</plist>